# Local .vscode directory and files

**/.vscode/*
.vscode*

# Local .terraform directories and files

**/.terraform/*
.terraform*


# .tfstate files

*.tfstate
*.tfstate.*


# Own secret vars store

personal.auto.tfvars